<div class="col-md-4">
    <span class="text-primary">Vai trò</span>
    <input class="form-control" [(ngModel)]="name" />
</div>
<div class="col-md-12">
    <span class="text-primary">Ghi chú</span>
    <textarea class="form-control" [(ngModel)]="description"></textarea>
</div>
<div class="col-md-12">
    <br />
    <button class="btn btn-primary btn-sm" (click)="save()">
        <i class="fa fa-floppy-o"></i>
        Lưu
    </button>
    <button class="btn btn-default btn-sm" (click)="back()">
        <i class="fa fa-back"></i>
        Trở về
    </button>
</div>