<div id="thanbai">
    <div id="a2">
        <div class="hinh1">
        <p style="font-size: 30px; padding-top: 60px;">Thực Phẩm & Khuyến Mãi: </p>
            <h2>
            <p>--Giảm Giá 20% cho các mặt hàng </p>
            <P>--Ưu đãi cho thẻ thành viên</P></h2>
            </div>
        <div class="hinh2"><img src="assets/porto/images/hinh1.jpg">
        <p style="font-size: 20px;">Thịt Cá Hồi  </p>
        <P style="font-size: 15px;"  >"60.000đ/500g-Khuyến mãi 50%</P></div>
        <div class="hinh3"><img src="assets/porto/images/hinh2.jpg">
        <p style="font-size:  20px;">Thịt Heo Vissan</p>
        <P style="font-size: 15px;">70.000đ/1kg</P>
        </div>
        <div class="hinh4"><img src="assets/porto/images/hinh4.jpg">
        <P style="font-size: 20px;">Xúc Xích Vissan</P>
        <P style="font-size: 15px;">80.000đ/1.2kg</P>
        </div>
        </div>
       
   <div id="a3">
           <div class="hinh1">	
           <h3><p style="font-size: 30px; padding-top: 60px;">Thời Trang Fashion </p>
            <p>Khuyến Mãi 30% các mặt hàng</p>
            <P>_____Nam____</P>
            <P>_____Nữ___</P></h3></div>
        <div class="hinh2" style="color: black"><img src="assets/porto/images/hinh6.jpg">
      <h3>  <p style="font-size: 20px;">Áo Sơ Mi Nam</p>
        <p style="font-size: 20px;">100% cottom, thoáng mát</p>
        <p style="font-size: 20px;">299.000đ/1cái</p></h3>
        </div>
        <div class="hinh3"><img src="assets/porto/images/hinh7.jpg">
        <p style="font-size: 10px;">FRAGRANCE</p>
        <P style="font-size: 15px;">SAUVAGE</P></div>
        <div class="hinh4"><img src="assets/porto/images/hinh8.jpg">
        <p style="font-size: 10px;">MAKE-UP</p>
        <P style="font-size: 15px;">DIORSHOW PUMP'N'VOLUME</P></div>
        </div>
