.thanbai{
    width: 1515px;
    height: 2000px;
    
    
    padding-top: 50px;
    overflow: hidden;
    
        }
    
    .a2 {
        width: 100%;
        height: 700px;
        position: relative;
        top: -70px;
        background-color: white;
        
        
    }

    .hinh1{
        width: 30%;
        height: 300px;
        background-color: #F8F8F8;
        margin-left: 72px;	
    }
    .hinh1 p{
        font-size: 13px;
        text-align: center;
        margin: 20px;	
    }
        .hinh2 {
        width: 30%;
        height: 300px;
        margin-left: 70px;
        margin-top: 30px;
        background-color: white;
    }
        .hinh2 img{
        width: 451px;
        height: 300px;	
        border: solid 1px #E9E9E9;
    }
        .hinh3 {
        width: 410px;
        height: 630px;

        position: relative;
        margin-left: 38%;
        top: -630px;	
    }
    .hinh3 img {
        width: 410px;
        height: 630px;
    }
    .hinh4 {
        width: 400px;
        height: 630px;
        background-color: antiquewhite;
        position: relative;
        float: right;
        top: -1260px;
        margin-right:72px;
    }
    .hinh4 img{
        width: 400px;
        height: 630px;
    }
    .a3 {
        width: 100%;
        height: 700px;
        background-color: white;
        position: relative;
        top: -90px;	
        
        
        
    }