<div class="col-md-12">
    <strong class="text-primary">This is Role List Page</strong>
    <a [routerLink]="['/main/role-detail']">Go to detail page</a>
</div>

<div class="col-md-12">
    <table class="table table-bordered table-striped mb-none" id="datatable-default">
        <thead>
            <tr>
                <th>Id</th>
                <th class="hidden-phone">Name</th>
                <th class="hidden-phone">Description</th>
                <th>Detail</th>     
            </tr>
        </thead>
        <tbody>
            <tr class="gradeA">
                <td>1</td>
                <td class="center hidden-phone">Computer NetWorking</td>
                <td class="center hidden-phone">is good</td>
                <td> <a [routerLink]="['/main/role-detail']">Detail</a>
                </td>
            </tr>
            
            
        </tbody>
    </table>
</div>