<div style="margin-left:-25px;margin-right:-25px">
    <div class="col-md-12">
            <button id="addToTable" class="btn btn-primary" [routerLink]="['/main/role-detail',0]">Thêm <i class="fa fa-plus"></i></button>
    </div>
    <div class="col-md-12">
        <br />
        <table class="table table-bordered table-striped table-condensed mb-none">
            <colgroup>
                <col style="width:50px" />
                <col style="width:150px" />
                <col style="width:150px"/>
                <col style="width:50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Quyền Truy Cập</th>
                    <th>Ghi chú</th>
                    <th>Sửa/Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles">
                    <td>{{role.Id}}</td>
                    <td>{{role.Name}}</td>
                    <td>{{role.Description}}</td>
                    <td class="text-center">
                            <a class="on-default edit-row">          
                                <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-pencil" (click)="detail(role)"></i></button>
                            </a>
                            <a class="on-default remove-row">     
                                <button type="button" class="btn btn-success btn-xs"><i class="fa fa-trash-o"></i></button>
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>