This is Dashboard Page
<label >Username</label>
<label >Password</label>
<input class="form-control" [(ngModel)]="input1" />
<input class="form-control" [(ngModel)]="user.username" />
<input class="form-control" [(ngModel)]="user.password" />
<button class="btn btn-primary" (click)="onClick()">Click me</button>
<div class="row">


    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="progress progress-striped light active m-md">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                        style="width: 50%;">
                        50%
                    </div>
                </div>


            </div>
        </section>
    </div>
    <div class="img-responsive">
        <img class="pull-left" src="assets/porto/images/device.png" width="200" data-appear-animation="bounceInLeft">
    </div>
    <h4>bounceInLeft</h4>
    <div class="img-responsive">
        <img class="pull-left" src="assets/porto/images/device.png" width="200" data-appear-animation="bounceInUp">
    </div>
    <h4>bounceInUp</h4>

    <div class="img-responsive">
        <img class="pull-left" src="assets/porto/images/device.png" width="200" data-appear-animation="bounceInLeft">
    </div>
    <h4>bounceInLeft</h4>


    