<div class="col-md-8" style="margin-left: 270px; margin-top: -30px">


    <div class="light active col-md-8">
        <div class="col-md-12">

            <img style="height: 350px; width: 350px" src="./../../../assets/porto/images/SuperDev.jpg" />

        </div>
        
    </div>



    <div style="right: 30px; color: cadetblue" class="col-md-12">
        <h1>Teacher: Nguyễn Thuận Nghĩa</h1>
        <p style="font-size: 20px">Creator: Nguyễn Công Sơn</p>
        <p style="font-size: 20px">Project Name: Library Management</p>
    </div>
</div>