<div style="margin-left:-25px;margin-right:-25px">
    <div class="col-md-12">
        <a class="btn btn-primary" [routerLink]="['/main/manufacturer-detail',0]">Thêm</a>
    </div>
    <div class="col-md-12">
        <br />
        <table class="table table-bordered table-striped table-condensed mb-none">
            <colgroup>
                <col style="width:50px" />
                <col style="width:150px" />
                <col style="width:150px"/>
                <col style="width:50px" />
                <col style="width:50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên Nhà SX</th>
                    <th>Code</th>                
                    <th>Ghi chú</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let manufacturer of manufacturers">
                    <td>{{manufacturer.Id}}</td>
                    <td>{{manufacturer.Name}}</td>
                    <td>{{manufacturer.Code}}</td>                  
                    <td>{{manufacturer.Description}}</td>
                    <td class="actions">
                        <a style="cursor:pointer"class="btn btn-primary"  >
                            <i class="fa fa-pencil"(click)="detail(manufacturer)"></i>
                        </a>
                        <a style="cursor:pointer" class="btn btn-primary">
                            <i  class="fa fa-trash" ></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>