<meta charset="utf-8">
<header class="panel-heading">
        <h2 class="panel-title">Tài Khoản</h2>
    </header>
<div class="panel-body" >
<div class="col-md-4">
    <span class="text-primary">Tên Người Dùng</span>
    <input class="form-control" [(ngModel)]="user.Username" />
</div>
<div class="col-md-4">
    <span class="text-primary">Tên</span>
    <input class="form-control" [(ngModel)]="user.FirstName" />
</div>
<div class="col-md-4">
    <span class="text-primary">Quyền Truy Cập</span>
    <select class="form-control" [(ngModel)]="user.RoleId">
        <option *ngFor="let role of roles" [ngValue]="role.Id">{{role.Name}}</option>
    </select>
</div>
<div class="col-md-4">
    <span class="text-primary">Họ Tên</span>
    <input class="form-control" [(ngModel)]="user.LastName" />
</div>
<div class="col-md-4">
    <span class="text-primary">Mật Khẩu</span>
    <input type="password" class="form-control" [(ngModel)]="user.Password" />
</div>
<div class="col-md-4">
    <span class="text-primary">Ghi Chú</span>
    <input class="form-control" [(ngModel)]="user.Description" />
</div>
<div class="col-md-4">   
    <span class="text-primary">Trạng Thái</span>
    <div class="checkbox-custom" >
    <input type="checkbox" class="form-control" [(ngModel)]="user.IsActived" />   
    <label></label>
    </div>
</div>
</div>


<div class="col-md-12" style="margin-top: -15px; margin-left: 15px">
        <br />
        <button class="btn btn-primary btn-sm" (click)="save()">
            <i class="fa fa-floppy-o"></i>
            Lưu
        </button>
        <button class="btn btn-default btn-sm" (click)="back()">
            <i class="fa fa-back"></i>
            Trở về
        </button>
    </div>
