<div style="margin-left:-25px;margin-right:-25px">
    <div class="col-md-12">
        <a class="btn btn-primary" [routerLink]="['/main/role-detail',0]">Thêm</a>
    </div>
    <div class="col-md-12">
        <br />
        <table class="table table-bordered table-striped table-condensed mb-none">
            <colgroup>
                <col style="width:50px" />
                <col style="width:150px" />
                <col />
                <col style="width:50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vai trò</th>
                    <th>Ghi chú</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles">
                    <td>{{role.Id}}</td>
                    <td>{{role.Name}}</td>
                    <td>{{role.Description}}</td>
                    <td class="actions">
                        <a style="cursor:pointer" >
                            <i class="fa fa-pencil"(click)="detail(role)"></i>
                        </a>
                        <a style="cursor:pointer">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>