
<section class="panel"  style="margin-top: -20px; margin-left: -20px">

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
    
                        <button id="addToTable" class="btn btn-info" [routerLink]="['/main/customer-detail',0]">Thêm <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped table-condensed mb-none table-hover">
                <colgroup>
                    <col style="width:20px" />
                    <col style="width:80px" />
                    <col style="width:80px"/>
                    <col style="width:150px" />
                    <col style="width:50px" />
                </colgroup>
                <thead>
                    <tr class="primary">
                        <th>Mã</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Mô tả</th>
                        <th>Sửa/xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customers">
    
                        <td>{{customer.Code}}</td>
                        <td>{{customer.FirstName}}</td>
                        <td>{{customer.LastName}}</td>
                        <td>{{customer.Description}}</td>
                        <td class="actions">
    
                            <a style="cursor:pointer" (click)="detail(customer)">
                                <i class="fa fa-pencil text-primary"></i>
                            </a>
                            <a style="cursor:pointer" (click)="delete(customer)">
                                <i class="fa fa-trash text-danger"></i>
    
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>