<div class="col-md-12" style="margin-bottom: 30px;">
    <h3 style="color: blue; margin-left: 10px; ">You're signing up new customer</h3>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <label>ID Customer</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Customer Name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Region</label>
        <select class="col-md-12 selectpicker" style="height:50px; margin-bottom: 20px;">
            <option>Area 1</option>
            <option>Area 2</option>
            <option>Area 3</option>
        </select>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <label>Spokensman</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label>Role</label>
        <input type="text" class="form-control" />
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <label>Address 1</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label>Address 2</label>
        <input type="text" class="form-control" />
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <label>Contact Person 1</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label>Contact Person 2</label>
        <input type="text" class="form-control" />
    </div>
</div>
<div class="col-md-12" style="margin-left: 15px;">
    <label>Note</label>
    <textarea class="form-control" style="height: 60px"></textarea>
</div>
<div class="col-md-12" style="margin-left: 15px;">
    <div class="input-group">
        <i class="fa fa-file" style="background-color: aqua;">
            <input type="submit" class="btn btn-info" value="Save" style="margin-right: 15px;" />
        </i>
    </div>
    <input type="submit" class="btn btn-danger" value="Back" />
</div>
<style>
    div {
        margin-bottom: 10px;
    }

    label {
        font-size: 15px;
        color: black;
    }
</style>