<!-- This is User List Page
<!-- <dashboard></dashboard> -->
<!-- <test-selector></test-selector> -->
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
        <h2 class="panel-title">Danh sách tài khoản</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button class="btn btn-primary" [routerLink]="['/main/user-detail',0]">Thêm
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên tài khoản</th>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Vai trò</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th class="hidden-phone">Tình trạng</th>
                    <th class="hidden-phone">Chỉnh sửa</th>
                    <th class="hidden-phone">Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="gradeX">
                    <td>{{user.Id}}</td>
                    <td>{{user.Username}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.RoleName}}</td>
                    <td>{{user.Description}}</td>
                    <td>{{user.CreatedDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>
                        <span [ngClass]="{'label label-success':user.IsActived,'label label-danger':!user.IsActived}">
                            {{user.IsActived?'Hoạt động':'Khóa'}}
                        </span>
                    
                    </td>
                    <td align="center">
                        <a>
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                    <td align="center">
                        <a>
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>