
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary">Xóa Sản Phẩm</button>
            <button class="btn btn-success">Thêm Sản Phẩm</button>
            <button class="btn btn-danger">Tính Tiền</button>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <colgroup>
                <col style="width:50px" />
                <col style="width:200px" />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã Hàng Hóa</th>
                    <th>Tên Hàng Hóa</th>
                    <th>Giá Bán</th>
                    <th>Giá Vốn</th>
                    <th>Tồn Kho</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>SP0001</td>
                    <td>Bàn Tròn</td>
                    <td>15000đ</td>
                    <td>12000đ</td>
                    <td>1000</td>
                </tr>              
            </tbody>
        </table>
    </div>