
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary">Xóa </button>
            <button class="btn btn-success">Thêm </button>
            <button class="btn btn-danger">Tính </button>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <colgroup>
                <col style="width:50px" />
                <col style="width:200px" />
                <col />
            </colgroup>
            <thead>
                <tr style="color: black">
                    <th>#</th>
                    
                    <th >Mã Tài Khoản</th>
                    <th>Tên Tài Khoản</th>
                    <th>Email</th>
                    <th><select style="color:black;background-color: white;"><option>Giới Tính</option>
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                    
                    </th>

                    <th><select style="color:black;background-color:white;"><option>Thẻ ưu Đãi</option>
                        <option >10%</option>
                        <option>20%</option>
                        <option>30%</option>
                    </select>
                    
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a href="http://localhost:4200/main/profile">KH001</a></td>
                    <td><a href="http://localhost:4200/main/profile">Lê Tuấn Tú</a></td>
                    <td>tultse62734</td>
                    <td>Nam</td>
                    <td>10%</td>
                </tr>              
            </tbody>
        </table>
    </div>