<div class="col-md-8 col-lg-6">
    
                                <div class="tabs">
                                    <ul class="nav nav-tabs tabs-primary">
                                        <li class="active">
                                            <a href="#diamond" data-toggle="tab">Diamond Card</a>
                                        </li>
                                        <li>
                                            <a href="#gold" data-toggle="tab">Gold Card</a>
                                        </li>
                                        <li>
                                            <a href="#silver" data-toggle="tab">Silver Card</a>
                                        </li>
                                        <li>
                                            <a href="#Copper" data-toggle="tab">Copper Card</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" style="height: 1000;width: 500;">
                                        <div id="diamond" class="tab-pane active">
                                           <!-- tag1 -->
                                      
                                        </div>
                                        <div id="gold" class="tab-pane">
                                            <!-- tag2 -->
                                        </div>
                                        <div id="silver" class="tab-pane">
                                            <!-- tag3 -->
                                        </div>
                                        <div id="copper" class="tab-pane">
                                            <!-- tag4 -->
                                        </div>
                                    </div>
                                </div>
                            </div>