<div class="col-md-4">
    <span class="text-primary">Username</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">FirstName</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">LastName</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">Description</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">IsActived</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">CreateDate</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>
<div class="col-md-4">
    <span class="text-primary">CreateBy</span>
    <input class="form-control" [(ngModel)]="role.Name" />
</div>

<div class="col-md-12">
    <br />
    <button class="btn btn-primary btn-sm" (click)="save()">
        <i class="fa fa-floppy-o"></i>
        Lưu
    </button>
    <button class="btn btn-default btn-sm" (click)="back()">
        <i class="fa fa-back"></i>
        Trở về
    </button>
</div>