<section class="panel" style="margin-top: -20px; margin-left: -20px">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" [routerLink]="['/main/user-detail',0]">Thêm
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed mb-none table-hover" id="datatable-default">
            <colgroup>
                <col style="width:10px" />
                <col />
                <col style="width: 100px"/>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
                <col style="width: 100px" />
                <col style="width: 150px" />
                <col style="width: 100px" />
                <col style="width: 80px" />
                <col class="text-center" style="width: 70px" />
            </colgroup>
            <thead>
                <tr class="primary">
                    <th>Stt</th>
                    <th>Tên đăng nhập</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Vai trò</th>
                    <th>Mô tả</th>
                    <th>Ngày Tạo</th>
                    <th>Người Tạo</th>
                    <th>Hoạt động</th>
                    <th>Sửa/xóa</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" [ngClass]="{'warning':!user.IsActived}">
                    <td class="text-center">{{user.Id}}</td>
                    <td>{{user.Username}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.RoleName}}</td>
                    <td>{{user.Description}}</td>
                    <td class="text-center">{{user.CreatedDate | date:'dd/MM/yyy HH:mm'}}</td>
                    <!-- <td>
                        <input [disabled]="true" type="checkbox" [ngModel]="user.IsActived"/>
                    </td> -->
                    <td>{{user.CreatorName}}</td>
                    <td class="text-center">
                        <!-- <span [ngClass]="{'success':user.IsActived, 'danger': !user.IsActived}"> -->
                            <div class="form-group">
                                    <div class="input-group input-group-icon">
                                        <input [disabled]="true" type="checkbox" [(ngModel)]="user.IsActived" id="checkboxExample3">
                                    </div>
                            </div>
                        <!-- </span> -->
                    </td>
                    <td class="text-center actions">
                        <a class="on-default edit-row">
                            <i class="fa fa-pencil text-primary" style="cursor:pointer" (click)="detail(user)"></i>
                        </a>
                        <a class="on-default text-danger remove-row">
                            <i class="fa fa-trash-o" style="cursor:pointer" (click)="delete(user)"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>