<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" [routerLink]="['/main/user-detail',0]">Add <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <colgroup>
                <col style="width:10px" />
                <col  />
                <col  />
                <col  />
                <col  />
                <col  />
                <col  style="width: 170px" />
                <col  style="width: 10px"/>
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên đăng nhập</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Tên Role</th>
                    <th>Mô tả</th>
                    <th>Ngày Tạo</th>
                    <th>Hoạt động</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" [ngClass]="{'success':user.IsActived,'danger':!user.IsActived}">
                    <td class="text-center">{{user.Id}}</td>
                    <td>{{user.Username}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.RoleName}}</td>
                    <td>{{user.Description}}</td>
                    <td>{{user.CreatedDate | date:'dd/MM/yyy HH:mm'}}</td>
                    <!-- <td>
                        <input [disabled]="true" type="checkbox" [ngModel]="user.IsActived"/>
                    </td> -->
                    <td>
                        <span [ngClass]="{'success':user.IsActived, 'danger': !user.IsActived}">
                            <div class="form-group" >
                                
                                <div class="col-md-6">
                                    <div class="input-group input-group-icon" >
                                        <input [disabled]="true" type="checkbox" [(ngModel)]="user.IsActived" id="checkboxExample3">
        
                                    </div>
                                    <!-- <div class="switch switch-dark">
                                        <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" />
                                    </div>
                                    <div class="switch switch-lg switch-primary">
                                        <input type="checkbox" name="switch" data-plugin-ios-switch checked="checked" />
                                    </div> -->
                                </div>
                            </div>
                        </span>
                    </td>
                    <td>
                        <a class="on-default edit-row">
                            <i class="fa fa-pencil" (click)="detail(user)"></i>
                        </a>
                        <a class="on-default text-warning remove-row">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>