<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>

        <h2 class="panel-title">Default</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" [routerLink]="['/main/user-detail',0]">Add <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <colgroup>
                <col style="width:100" />
                <col />
                <col style="width:150" />
                <col style="width:150" />
                <col style="width:150" />
                <col style="width:150" />
                <col style="width:150" />
                <col style="width:150" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>RoleName</th>
                    <th>Description</th>
                    <th>IsActived</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.Id}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.RoleName}}</td>
                    <td>{{user.Description}}</td>
                    <!-- <td>
                        <input [disabled]="true" type="checkbox" [ngModel]="user.IsActived"/>
                    </td> -->
                    <td>
                        <span [ngClass]="{'label label-success':user.IsActived, 'label label-danger': !user.IsActived}">
                            {{user.IsActived?'Hoạt động':'Khóa'}}
                        </span>
                    </td>
                    <td>
                        <a class="on-default edit-row">
                            <i class="fa fa-pencil" (click)="detail(user)"></i>
                        </a>
                        <a class="on-default remove-row">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>